**/.settings
**/.project
**/.classpath
**/.clover
**/bin
**/target
**/.DS_Store
.DS_Store
.settings
.project
.classpath
/target
*.xml.releaseBackup
/release.properties
/.clover
/bin
/target/
/null
*.iml
.idea
